<h1><%= title %></h1>
<div class="flex">
  <div class="col caption" style="background: #eee">
    <div class="text-container">
      <%- caption %>
    </div>
  </div>
  <div class="col image" style="background: #F1F2F1;">
    <img src="<%= image %>" class="full-width">
  </div>
</div>
