<h1><%= title %></h1>
<div class="flex portrait <%= extraClasses.join(' ') %>">
  <div class="col caption">
    <div class="text-container">
      <%- caption %>
    </div>
  </div>
  <div class="col image">
    <img src="<%= image %>" class="full-width">
  </div>
</div>
