img
  vertical-align: middle
  max-width: 100%
  height: auto

a img
  border: none

.cropped
  position: relative
  padding-top: 30px
  padding-bottom: 56.25%
  height: 0
  height: auto
  max-width: 100%
  margin-bottom: 1em
  overflow: hidden

.cropped img
  position: absolute
  top: -1000000%
  right: -1000000%
  bottom: -1000000%
  left: -1000000%
  margin: auto
  width: 100%

